
.cgus-body{
    padding: 25px;
}
.cgus{
    width: 50%;
    margin: 0 auto;
    position: relative;

    left: 50%;
    transform: translate(-100%, 0);

    border-color: #ffc8dd;
    border-style: solid;
    border-width: 1px;
}
.cgus-box{
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 1em;
}