@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.contact-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #000000;
    min-height: 100vh;
}

.contact-box{
    position: absolute;
    width: 50%;
    height: 350px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;


    background-color: #000000;
    border-color: var(--rose-pale);
    border-width: 1.5px;
    border-style: solid;
}

.contact-box > h3{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.5em;
    color: #FFF;
}

.contact-box > a{
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    color: var(--rose-pale);
    text-decoration: none;
    cursor: pointer;
    transition: font-size 0.5s;


}

.contact-box > a:hover{
    color: #FFF;
    font-size: 2em;
    transition: font-size 0.5s;
}

.contact-box :nth-child(4){
    padding-bottom: 30px;
}