.work-body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
  }
  
  

  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .a >.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }
  #image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }

  .work-buttons{
    position: absolute;
    top: 0;
  }
  .work-buttons > a{
    padding: 20px;
    color: var(--rose);
    text-decoration: none;
  }
  #enabled:hover{
    color: #FFF;
  }
  
  #disabled{
      opacity: 0.5;
  }

  .work{
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .work-container{
    z-index: 99;
  }